@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container" id="home">
    <p class="home-title">Condimente</p>
    <p class="subtitle">Pentru-viata</p>
    <div class="home-side-quote">
        <p class="quote-title">Gusta viata</p>
        <div class="quote-content">
            <p class="quote-line1">“There is no love sincerer</p>
            <p class="quote-line2">than the love of food.”</p>
            <p class="quote-authore">George Bernard Shaw</p>
            <p class="quote-details">1856-1950, Irish writer, Nobel 1925</p>
        </div>
    </div>
</div>

<div class="about-us-container" id="about">
    <div class="about-us-text">
        <p class="about-us-title">Despre noi</p>
        <p class="about-us-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at nisl euismod, vehicula mauris ut, fermentum ipsum. Etiam consectetur, nisi eget congue vehicula, dolor elit hendrerit augue, nec porttitor nunc nulla a ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut egestas est massa, in lobortis purus rutrum vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec id porta nunc.</p>
    </div>
    <div class="about-us-image">
    </div>
</div>

<div class="galery-container" id="galery">
    <div>
        <p class="galery-title">Galerie</p>
    </div>
    <div class="galery-grid">
        <div class="grid-product1">
            <div class="grid-text">
                <p class="grid-text-title">Mațe porc</p>
                <p class="grid-text-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at nisl euismod, vehicula mauris ut, fermentum ipsum.</p>
                <p class="grid-text-product_code">cod produs: # 1111</p>
            </div>
        </div>
        <div class="grid-product2">
            <div class="grid-background">
                <div class="grid-text">
                    <p class="grid-text-title">Mațe oaie</p>
                    <p class="grid-text-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at nisl euismod, vehicula mauris ut, fermentum ipsum.</p>
                    <p class="grid-text-product_code">cod produs: # 2222</p>
                </div>
            </div>
        </div>
        <div class="grid-product3">
            <div class="grid-background">
                <div class="grid-text">
                    <p class="grid-text-title">Vegeta</p>
                    <p class="grid-text-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at nisl euismod, vehicula mauris ut, fermentum ipsum.</p>
                    <p class="grid-text-product_code">cod produs: # 3333</p>
                </div>
            </div>
        </div>
        <div class="grid-product4">
            <div class="grid-background">
                <div class="grid-text">
                    <p class="grid-text-title">Mustar boabe</p>
                    <p class="grid-text-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at nisl euismod, vehicula mauris ut, fermentum ipsum.</p>
                    <p class="grid-text-product_code">cod produs: # 4444</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-container" id="contact">
    <img class="contact-photo" src="./images/Contact_us-photo.png" alt="image of spicy condiments">
    <div class="contact-details">
        <p class="contact-title">Informatii de contact</p>
        <p class="contact-phone">07XX-XXX-XXX</p>
        <p class="contact-email">XXXXXXX@email.com</p>
        <p class="contact-address">Str. XXX, Sector 1, Bucuresti </p>
    </div>
    <div class="contact-form">
        <p class="contact-form-title">SCRIE-NE</p>
        <div class="contact-form-client-details">
            <input class="name" placeholder="Nume">
            <input class="email" type=email placeholder="Email">
            <input class="phone" type="tel" placeholder="Tel">
            <input class="message" placeholder="Mesaj">
        </div>
        <div class="submit">
            <button class="submit-btn">Trimite</button>
        </div>
    </div>
</div>

