
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

/*----------------------
            Layout 
            ------------------------*/
html {
    background-color: var(--clr-bg);
    font-family: 'Poppins', 'Trirong';
}

body {
    width: 98%;
    height: auto;
    margin: 1rem auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/*----------------------
            Header 
            ------------------------*/
header {
    display: flex;
    margin: 0 auto;
    width: 98%;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    font-style: italic;
    font-weight: var(--fw-600);
    font-size: var(--fs-header);
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

    header > * {
        color: var(--clr-header);
    }

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

/*----------------------
            1st Page Content 
            ------------------------*/

.home-container {
    display: flex;
    color: var(--clr-primary);
    margin-top: 1rem;
}

.home-title {
    width: 65%;
    background-image: url(../images/Home_page-photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom left;
    font-style: normal;
    font-weight: var(--fw-600);
    font-size: var(--fs-900);
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 46%;
}

.subtitle {
    position: absolute;
    top: 11%;
    left: 40%;
    width: auto;
    font-style: normal;
    font-weight: var(--fw-400);
    font-size: var(--fs-700);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--clr-subtitle);
    border: solid var(--clr-subtitle) 2px;
    background: var(--clr-bg);
    transform: matrix(0.9, -0.38, 0.47, 0.92, 0, 0);
}

.home-side-quote {
    position: relative;
    width: 35%;
}

.quote-title {
    position: absolute;
    top: 45%;
    left: -8%;
    font-style: normal;
    font-size: var(--fs-900);
    font-weight: var(--fw-600);
    text-transform: capitalize;
}

.quote-content {
    position: relative;
    top: 65%;
}

.quote-line1, .quote-line2, .quote-authore, .quote-details {
    text-align: right;
    position: relative;
    font-style: italic;
    font-size: var(--fs-500);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.quote-line1, .quote-line2 {
    font-weight: 400;
    margin: 0;
}

.quote-authore {
    font-weight: 300;
}

.quote-details {
    text-align: left;
    font-size: var(--fs-400);
}

/*----------------------
            2nd Page Content 
            ------------------------*/
.about-us-container {
    color: var(--clr-primary);
    margin-top: 1.5rem;
    display: flex;
    position: relative;
}

.about-us-text {
    width: 40%;
}

.about-us-image {
    width: 60%;
    overflow: hidden;
    background-image: url(../images/About_us-photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.about-us-title {
    display: inline-flex;
    margin: 1em auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-700);
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.about-us-content {
    font-style: normal;
    padding-left: var(--fs-400);
    padding-right: var(--fs-400);
    font-weight: 500;
    font-size: var(--fs-500);
}

/*----------------------
            3rd Page Content 
            ------------------------*/
.galery-container {
    display: inline-block;
    position: relative;
    color: var(--clr-primary);
}

.galery-title {
    display: inline-flex;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-700);
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.galery-grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    margin: 1rem auto;
}

.grid-product1, .grid-product2, .grid-product3, .grid-product4 {
    background-repeat: no-repeat;
    background-size: 35%;
}

.grid-product1 {
    background-image: url(../images/pig.png);
}

.grid-product2 {
    background-image: url(../images/Sheep.png);
}

.grid-product3 {
    background-image: url(../images/Vegeta.png)
}

.grid-product4 {
    background-image: url(../images/Mustard.png);
}

.grid-text {
    background-image: linear-gradient(to right, transparent, #3F4851);
    color: var(--clr-secondary);
    border-radius: 2rem;
    width: 65%;
    float: right;
    overflow: hidden;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.grid-text-title {
    font-size: var(--fs-700);
}

.grid-text-details {
    font-weight: 500;
    font-size: var(--fs-500);
}

.grid-text-product_code {
    font-size: var(--fs-500);
    font-style: italic;
}



/*----------------------
            4th Page Content 
            ------------------------*/

.contact-container {
    color: var(--clr-primary);
    display: flex;
    margin-top: 5%;
}

.contact-photo {
    position: relative;
    width: 65%;
    opacity: 0.15;
}

.contact-details {
    position: absolute;
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    width: 40%;
}

.contact-title {
    font-style: normal;
    font-weight: 600;
    font-size: var(--fs-500);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.contact-phone, .contact-email, .contact-address {
    padding-left: 10%;
}

.contact-form {
    position: relative;
    width: 35%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact-form-title {
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs-600);
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.contact-form-client-details {
    display: grid;
    grid-template-rows: 15% 15% 15% 43%;
    height: 60%;
    gap: 4%;
}

.name, .email, .phone, .message {
    background-color: #3D4651;
    color: var(--clr-secondary);
    font-weight: 400;
    font-style: italic;
    border-radius: 0.5rem;
}

.contact-phone::before {
    font-family: "Font Awesome 6 Free";
    color: var(--clr-primary);
    font-weight: 900;
    content: "\f095";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-right: 1rem;
}

.contact-email::before {
    font-family: "Font Awesome 6 Free";
    color: var(--clr-primary);
    font-weight: 900;
    content: "\f0e0";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-right: 1rem;
}

.contact-address::before {
    font-family: "Font Awesome 6 Free";
    color: var(--clr-primary);
    font-weight: 900;
    content: "\f3c5";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-right: 1rem;
}

.message:placeholder-shown {
    position: relative;
}

.message::placeholder {
    position: absolute;
    padding-top: 1rem;
}

.submit {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-bg-btn);
    border-radius: 0.5em;
}

.submit-btn {
    font-size: var(--fs-500);
    background-color: transparent;
    border: transparent;
    color: var(--clr-primary);
    padding: 0.6rem;
    cursor: pointer;
}


/*----------------------
            Mediaquery 
            ------------------------*/

@media (min-width: 720px) and (max-width: 1100px) {

    .home-title {
        font-size: var(--fs-700);
    }

    .subtitle {
        font-size: var(--fs-450);
        top: 12%;
        left: 42%;
    }

    .quote-title, .about-us-title, .galery-title {
        font-size: var(--fs-600);
    }

    .grid-text-title, .contact-form-title {
        font-size: var(--fs-500);
    }

    .quote-details, .quote-line1, .quote-line2, .quote-authore, .about-us-content, .grid-text-details, .grid-text-product_code, .contact-title, .submit-btn {
        font-size: var(--fs-400);
    }
}

@media (max-width: 719px) {
    header {
        flex-direction: column;
        gap: 0.5em;
        font-size: var(--fs-300);
        margin-bottom: 1em;
    }

    .home-container {
        flex-direction: column;
    }

    .home-title {
        width: 100%;
        font-size: var(--fs-500);
        padding-bottom: 66%;
    }

    .subtitle {
        font-size: var(--fs-400);
        top: 16%;
        left: 60%;
    }

    .home-side-quote {
        width: 100%;
    }

    .quote-title {
        width: 100%;
        left: 0;
        position: relative;
        font-size: var(--fs-500);
        text-align: center;
    }

    .quote-line1 {
        text-align: center;
        margin-top: 2%;
        font-size: 1rem;
    }

    .quote-line2 {
        text-align: center;
        font-size: 1rem;
    }

    .quote-authore {
        font-size: 0.8rem;
    }

    .quote-details {
        position: relative;
        font-size: 0.7rem;
        text-align: right;
        font-weight: 400;
    }

    .about-us-container {
        flex-direction: column;
    }

    .about-us-text {
        display: inline;
        width: 100%;
    }

    .about-us-title {
        font-size: 1.25rem;
    }

    .about-us-content {
        font-size: 0.8rem;
    }

    .about-us-image {
        display: inline-flexbox;
        width: 100%;
    }

    .galery-title {
        font-size: 1.25rem;
    }

    .galery-grid {
        grid-template-columns: 100%;
        grid-gap: 4%;
    }

    .grid-text-title {
        font-size: 1rem;
    }

    .grid-text-details, .grid-text-product_code {
        font-size: 0.8rem;
    }

    .grid-product1, .grid-product2, .grid-product3, .grid-product4 {
        background-size: 25%;
    }

    .contact-container {
        margin-top: 10%;
    }

    .contact-title, .contact-phone, .contact-email, .contact-address {
        font-size: var(--fs-300);
    }

    .contact-form-title, .contact-form-client-details, .submit-btn {
        font-size: var(--fs-400);
    }
}
